<sh-card class="card-secondary mb-10">
	<div id="character-details" class="mx-2">
		<div class="flex items-center justify-between mb-2">
			<h2 class="mb-3">Mon personnage</h2>
			<sh-button color="primary" (click)="goToStep(2)">Modifier</sh-button>
		</div>
		<div class="flex space-x-10">
			<div class="w-1/2">
				<div id="character-details__name" class="flex align-bottom space-x-6 mb-4">
					<p class="resident-description__title">Nom</p>
					<span class="text-sm">Catherine</span>
				</div>
				<div id="character-details__age" class="flex align-bottom space-x-6 mb-4">
					<p class="resident-description__title">Âge</p>
					<span class="text-sm">25 ans</span>
				</div>
				<div id="character-details__gender" class="flex align-bottom space-x-6 mb-4">
					<p class="resident-description__title">Genre</p>
					<span class="text-sm">Femme</span>
				</div>
				<div id="character-details__secret" class="mb-4">
					<p class="resident-description__title mb-2">Secret</p>
					<span class="text-sm">enjs</span>
				</div>
				<div id="character-details__bio">
					<p class="resident-description__title mb-2">Biographie</p>
					<span class="text-sm">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Consequuntur tempora impedit accusantium odio
					dolorem, voluptates, perferendis excepturi.
				</span>
				</div>
			</div>
			<div class="w-1/2">
				<div id="character-details__picture" class="mb-2">
					<p class="resident-description__title">Photo</p>
					<span>photo</span>
				</div>
			</div>
		</div>
	</div>
</sh-card>

<sh-card>
	<div class="flex items-center justify-between">
		<h2 class="mb-3 sh-yellow">Partie en attente de lancement</h2>
		<sh-button *ngIf="isAdmin" color="primary" [outline]="true" (click)="goToStep(1)">Paramètres de la partie</sh-button>
	</div>
	<div id="share-code" class="flex items-center space-x-6 mb-4">
		<p class="share-code__title">Code de partage</p>
		<span class="share-code__text">#DEIOF8768YFEHF</span>
	</div>
	<h4 class="players-list__title underline mb-2">Liste des participants</h4>
	<div class="players-list">
		<app-player-portrait
			*ngFor="let player of players"
			[title]="player.name">
		</app-player-portrait>
	</div>
</sh-card>

<div id="lobby-actions" class="flex items-center justify-between mt-6">
	<sh-button class="btn__validate" color="secondary">{{ isAdmin ? 'Fermer la partie': 'Quitter la partie' }}</sh-button>
	<sh-button class="btn__validate" color="primary">Lancer la partie</sh-button>
</div>

