@import "src/styles";

.game-secrets {
	.header {
		margin-bottom: 2rem;

		h1 {
			color: $brand-primary;
			margin-bottom: 1rem;
		}
	}

	.content {
		#secrets-list {
			max-height: 500px;
			overflow-y: auto;

			sh-card {
				.card {
					margin-bottom: 2rem;
					margin-right: 1rem;

					display: flex;
					align-items: center;
					justify-content: space-between;

					.secret__resident {
						display: flex;
						align-items: center;

						img {
							max-width: 25px;
						}

						h2 {
							margin: 1rem 1.5rem;
							color: $brand-primary;
						}
					}

					.secret__text {
						text-align: right;
						color: $white;
					}
				}

				&.secret-discovered {
					.card {
						border: 1px solid $brand-primary;
					}
				}

				&:last-child {
					.card {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
