<div class="game-secrets">
	<div class="header">
		<h1 class="sh-yellow">Liste des secrets des habitants</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur tempora impedit accusantium odio
			dolorem, voluptates, perferendis excepturi soluta vero placeat aspernatur suscipit id nisi amet alias
			nam, adipisci corporis reiciendis!
		</p>
	</div>
	<div class="content">
		<div id="secrets-list">
			<sh-card
				*ngFor="let player of players"
				class="card-secondary"
				[ngClass]="{ 'secret-discovered': player.secret }">
				<div class="secret__resident">
					<img [src]="player.avatar" [alt]="player.name" />
					<h2 class="leading-none">{{ player.name }}</h2>
				</div>
				<ng-container *ngIf="player.secret">
					<div class="secret__discover">
						<span class="italic">"{{ player.secret }}"</span>
					</div>
					<div class="secret__text">
						<span class="italic">Découvert par Mario</span>
					</div>
				</ng-container>
				<span *ngIf="!player.secret" class="uppercase">Secret non découvert</span>
			</sh-card>
		</div>
	</div>
</div>
