<section id="nav">
	<div class="nav-container">
		<div class="brand">
			<a href="/">
                <img width="100" class="brand-img" src="/assets/images/logo.png" alt="" />
            </a>
		</div>
		<nav>
			<ul class="nav-list">
				<li>
					<a href="/rules" class="link">Règles</a>
				</li>
				<li>
					<a href="/contact" class="link">Contact</a>
				</li>
				<li>
                    <a href="/game" class="link">
                        <sh-button color="primary" >JOUER</sh-button>
                    </a>
				</li>
			</ul>
		</nav>
	</div>
</section>
