<section class="hero">
    <h1 class="text-center uppercase w-100">
        <small class="title-sub">Entrez dans </small>
        <br> la maison des secrets
    </h1>

    <div class="title-separator"></div>

	<div class="top-content">
		<sh-button color="secondary" (click)="openLogin()">Connexion</sh-button>
		<sh-button color="primary" (click)="openRegister()">Inscription</sh-button>
	</div>

    <a href="#" class="button--scroll animation animation--infinite animation--up-down"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="-275 398.7 44.2 44.2">
        <path fill="#ecb365" d="M-275 420.8c0-12.2 9.9-22.1 22.1-22.1s22.1 9.9 22.1 22.1c0 12.2-9.9 22.1-22.1 22.1s-22.1-9.9-22.1-22.1zm42.7 0c0-11.4-9.2-20.6-20.6-20.6-11.4 0-20.6 9.2-20.6 20.6 0 11.4 9.2 20.6 20.6 20.6 11.4 0 20.6-9.3 20.6-20.6zM-260.6 418c0-.2.1-.4.2-.5.3-.3.8-.3 1.1 0l6.8 6.8 6.8-6.8c.3-.3.8-.3 1.1 0 .3.3.3.8 0 1.1l-7.3 7.3c-.3.3-.8.3-1.1 0l-7.3-7.3c-.3-.2-.3-.4-.3-.6z" />
        </svg>
    </a>
</section>

<section id="players" class="section-container flex flex-col justify-center">
    <div>
        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <img src="/assets/images/players/bryan.png" alt="" />
                </div>
                <div class="slide">
                    <img src="/assets/images/players/catherine.png" alt="" />
                </div>
                <div class="slide">
                    <img src="/assets/images/players/charlene.png" alt="" />
                </div>
                <div class="slide">
                    <img src="/assets/images/players/emeline.png" alt="" />
                </div>
                <div class="slide">
                    <img src="/assets/images/players/esteban.png" alt="" />
                </div>
                <div class="slide">
                    <img src="/assets/images/players/julie.png" alt="" />
                </div>
                <div class="slide">
                    <img src="/assets/images/players/kamila.png" alt="" />
                </div>
                <div class="slide">
                    <img src="/assets/images/players/louis.png" alt="" />
                </div>
                <div class="slide">
                    <img src="/assets/images/players/lucien.png" alt="" />
                </div>
                <div class="slide">
                    <img src="/assets/images/players/lydia.png" alt="" />
                </div>
                <div class="slide">
                    <img src="/assets/images/players/mickael.png" alt="" />
                </div>
                <div class="slide">
                    <img src="/assets/images/players/nathan.png" alt="" />
                </div>
                <div class="slide">
                    <img src="/assets/images/players/nicolas.png" alt="" />
                </div>
                <div class="slide">
                    <img src="/assets/images/players/romain.png" alt="" />
                </div>
                <div class="slide">
                    <img src="/assets/images/players/sabrina.png" alt="" />
                </div>
            </div>
        </div>

        <div class="slider second-slider">
            <div class="slide-track">
                <div class="slide">
                    <img src="/assets/images/players/sabrina.png" alt="" />
                </div>
                <div class="slide">
                    <img src="/assets/images/players/nicolas.png" alt="" />
                </div>
                <div class="slide">
                    <img src="/assets/images/players/romain.png" alt="" />
                </div>
                <div class="slide">
                    <img src="/assets/images/players/nathan.png" alt="" />
                </div>
                <div class="slide">
                    <img src="/assets/images/players/mickael.png" alt="" />
                </div>
                <div class="slide">
                    <img src="/assets/images/players/lydia.png" alt="" />
                </div>
                <div class="slide">
                    <img src="/assets/images/players/lucien.png" alt="" />
                </div>
                <div class="slide">
                    <img src="/assets/images/players/louis.png" alt="" />
                </div>
                <div class="slide">
                    <img src="/assets/images/players/kamila.png" alt="" />
                </div>
                <div class="slide">
                    <img src="/assets/images/players/julie.png" alt="" />
                </div>
                <div class="slide">
                    <img src="/assets/images/players/esteban.png" alt="" />
                </div>
                <div class="slide">
                    <img src="/assets/images/players/emeline.png" alt="" />
                </div>
                <div class="slide">
                    <img src="/assets/images/players/charlene.png" alt="" />
                </div>
                <div class="slide">
                    <img src="/assets/images/players/bryan.png" alt="" />
                </div>
                <div class="slide">
                    <img src="/assets/images/players/sabrina.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="section-text sh-yellow">
        <h2 class="text-center uppercase w-100">
            Jouez avec vos amis et
            <br> Découvrez tous leurs secrets
        </h2>
    </div>
</section>

<section id="house" class="section-container flex flex-col justify-center">
    <div class="house-model-container">
        <img class="house-model" src="/assets/images/house-plan.jpg" alt="" />

        <div class="magnify">
            <svg width="0" height="0" viewBox="0 0 119 119">
            <defs>
                <clipPath id="magnifying-glass">
                <path d="m116 102-27.3-27.3c4.64-7.39 7.33-16.1 7.33-25.5 0-26.5-21.5-48-48-48s-48 21.5-48 48c0 26.5 21.5 48 48 48 10.2 0 19.6-3.19 27.4-8.6l27 27c1.88 1.87 4.33 2.81 6.79 2.81 2.46 0 4.91-0.933 6.79-2.81 3.75-3.75 3.75-9.83-3e-3 -13.6z"/>
                </clipPath>
            </defs>
            </svg>
        </div>
    </div>
    <div class="section-text sh-yellow">
        <h2 class="text-center uppercase w-100">
            parcourez la maison
            <br> à la recherche d'indices
        </h2>
    </div>
</section>

<sh-modal>
	<div *ngIf="isRegister; else login" [formGroup]="registerFormGrp">
		<h1>Inscription</h1>
		<sh-input-text label="Email" id="email" [control]="registerFormEmail"></sh-input-text>
		<sh-input-text label="Mot de passe" id="password" [control]="registerFormPassword"></sh-input-text>
		<sh-input-text label="Confirmation du mot de passe" id="confirm-password"
			[control]="registerFormConfirmPassword"></sh-input-text>
		<sh-button color="primary" (click)="goToPlay()">S'inscrire</sh-button>
	</div>
	<ng-template #login>
		<div [formGroup]="loginFormGrp">
			<h1>Connexion</h1>
			<sh-input-text label="Email" id="email" [control]="loginFormEmail"></sh-input-text>
			<sh-input-text label="Mot de passe" id="password" [control]="loginFormPassword"></sh-input-text>
			<sh-button color="primary" (click)="goToPlay()">Se connecter</sh-button>
		</div>
	</ng-template>
</sh-modal>
