@import "/node_modules/ngx-ds-secret-house/assets/scss/variables";

#chatroom{
	&.card {
		position: fixed;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: $blue-dark;
		background-clip: border-box;
		border: 1px solid rgba(0, 0, 0, .125);
		border-radius: .25rem;
		margin: auto;
		bottom: -15px;
		right: 3em;
		width: 60%;
	}
    .card-body {
        height: 60vh;
        overflow-y: scroll;
        display: flex;
        flex-direction: column-reverse;
        padding: 0.5em 1.25em;
    }
    .logged {
        height: 10px;
        width: 10px;
        background-color: limegreen;
        border-radius: 10px;
        margin-top: 7px;
        margin-right: 5px;
    }
    .list-client {
        width: 100%;
        background-color: #f7f7f7;
        padding: 0;
        height: 100vh;
        overflow-y: scroll;
        border-right: 1px solid #ced4da;
    }
    .list-client h2 {
        padding: 0.25em 1em;
    }
    .list-client ul {
        margin: 0;
        padding: 0;
    }
    .list-client li {
        text-decoration: none;
        list-style: none;
        background-color: white;
        padding: 1em;
        border-top: 1px solid #e9ebee;
        cursor: pointer;
        transition: 0.3s;
    }
    .list-client li:hover {
        background-color: #f1efef;
        transition: 0.3s;
    }
    .col-9.discussion {
        background-color: white;
        height: 100vh;
        overflow-y: scroll;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .chat-header {
        padding: 1em;
        background-color: $blue;
        border-bottom: 1px solid $yellow;
    }
    .chat {
        position: absolute;
        right: 0;
        overflow: scroll;
        display: flex;
        flex-direction: column-reverse;
        bottom: 4.4em;
        width: 100%;
        top: 5em;
        padding: 1em
    }

	form#formulaire_chat.card-footer {
		display: flex;
		flex-direction: row;
		border-top: 2px solid $yellow;
		padding: 1em;
		background-color: $blue;
		bottom: 0;
		right: 0;
		width: 100%;
	}
}
input#message-chat {
	background-color: $blue-dark;
}
