@import "/node_modules/ngx-ds-secret-house/assets/scss/variables";

body {
	background-color: black;
	position: relative;

	h1 {
		color: $yellow;
	}
}

.account-content {
	display: flex;
	justify-content: space-between;

	.form {
		width: 45%;
	}
}
