@import "src/styles";

$characterHeight: 500px;

.game-character {
	.header {
		margin-bottom: 3rem;
	}

	.content {
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: 6rem;
		width: 100%;

		.character-avatar {
			flex: 1;
			width: 100%;
			min-height: $residentHeight;

			&__box {
				border: 2px solid $brand-primary;
				min-height: $residentHeight;

				img {
					min-height: inherit;
					max-height: $residentHeight;
				}
			}
		}

		.character-description {
			flex: 2;
			width: 100%;

			.card-secondary {
				padding: 2rem;

				sh-button {
					margin-bottom: 40px	;
				}
			}

			.character-fields {
				display: flex;
				flex-direction: row;
				margin-bottom: 50px;

				&__left {
					flex: 1;

					input, select, textarea {
						max-width: 300px;
					}
				}

				&__right {
					flex: 1;
					display: flex;
					justify-content: start;
				}
			}
		}
	}
}
