@import "src/styles";

$characterHeight: 450px;

.game-character {
	.header {
		margin-bottom: 3rem;
	}

	.content {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		column-gap: 6rem;
		width: 100%;

		sh-card {
			width: 100%;

			.card {
				min-height: $characterHeight;
				padding: 2rem;

				h2 {
					margin-bottom: 40px;
				}

				.character-details {
					min-height: inherit;
					display: flex;
					align-items: flex-start;
					justify-content: space-between;
					column-gap: 6rem;

					.character-avatar {
						min-height: inherit;

						&__box {
							border: 2px solid $brand-primary;
							background-color: rgba(255, 255, 255, 0.25);

							min-height: $characterHeight;
							min-width: 290px;

							img {
								min-height: inherit;
								max-height: $characterHeight;
							}
						}
					}

					.character-fields__form {
						flex: 1;

						sh-field-container {
							label {
								color: $brand-primary;
							}

							select {
								color: black;
							}
						}
					}
				}
			}
		}
	}
}
