@import "src/styles";

.game-character {
	.header {
		margin-bottom: 3rem;
	}

	.content {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		column-gap: 6rem;
		width: 100%;

		.character-avatar {
			flex: 1;
			min-width: 250px;
		}

		.character-description {
			flex:2;
			display: flex;
		}
	}
}
