@import "/node_modules/ngx-ds-secret-house/assets/scss/variables";

#footer{
    background: black;
    padding: 0 4em;

    .footer-container{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $yellow;
        padding: 15px;
    
        .brand{
            max-width: 150px;
        
            .brand-img{
                width: 100%;
            }
        }
    }
}