<sh-card class="card-secondary">
	<h2 class="mb-3">Paramètres de la partie</h2>
	<div class="input-container">
		<sh-input-text
			id="maxPlayers"
			label="Nombre maximum de joueurs"
			[disabled]="validated"
			[control]="formMaxPlayers"></sh-input-text>
		<sh-input-text
			id="intervalEvent"
			label="Interval entre les évènements (en heures)"
			[disabled]="validated"
			[control]="formIntervalEvent"></sh-input-text>
	</div>
	<div class="flex justify-end mr-4">
		<sh-button color="primary" (click)="validate()">Valider</sh-button>
	</div>
</sh-card>

