<div id="dashboard">
	<div class="header">
		<h1 class="title">Secret House</h1>
		<h2 class="subtitle">
			Lancez-vous dans une toute nouvelle aventure <br />
			pleine de rebondissements !
		</h2>
	</div>
	<div class="content">
		<sh-card id="create-game">
			<h2 class="leading-none">Créer une nouvelle partie</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Vivamus turpis eros, venenatis eu dapibus sed, feugiat vitae odio.
				Morbi et faucibus sapien.  Curabitur nec massa nisl.
			</p>
			<p>
				Cras molestie lacus nulla, ac sollicitudin neque placerat vitae.
				Pellentesque non odio tempor, porttitor sem et, vestibulum enim.
			</p>
			<div class="card__action">
				<sh-button color="primary" routerLink="play">Créer une partie</sh-button>
			</div>
		</sh-card>
		<sh-card id="join-game">
			<h2 class="leading-none">Rejoindre une partie</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Vivamus turpis eros, venenatis eu dapibus sed, feugiat vitae odio.
				Morbi et faucibus sapien.  Curabitur nec massa nisl.
			</p>
			<div class="card__action">
				<sh-input-text
					id="game-code"
					label="Code de la partie"
					placeholder="#ed930jce"
					[control]="gameCode">
				</sh-input-text>
				<sh-button color="primary" (click)="joinGame()" [disabled]="!isGameCodeValid()">Rejoindre</sh-button>
			</div>
		</sh-card>
	</div>
</div>
