@import "/node_modules/ngx-ds-secret-house/assets/scss/variables";

$bg-black: #121212;

.sh-yellow{
    color: $yellow;
}

.page-introduction{
    max-width: 800px;
}

.cards-list {
	margin: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: nowrap;

	.player-card {
		height: 400px;
		width: 275px;
		margin-right: 20px;
		background-color: white;
	}

	.cards-swiper {
		width: 100%;
		height: 100%;
        cursor: pointer;

        // Le reste du style se trouve dans styles.scss (sinon ça ne marche pas)
	}

    .player-name{
        text-transform: uppercase;
        text-align: left;
        letter-spacing: 1px;
    }
}

// Swiper indication
$ease-out-quint: cubic-bezier(0.230, 1.000, 0.720, 1.000);
$default-border:$white;

.swiper-instruction{
    margin: 0 auto;
	text-align: center;
        
    .menu-indicator {
        width: 300px;
        margin: 0 auto;

        .indicator-wrapper {
            transform: translate3d(0, 0, 0);
            width: 150px;
            margin: 0 auto;

            .indicator-cursor {
                width: 25px;
                //height:40px;
                position: absolute;
                top: 2.75em;
                z-index: 5;
                //background: #F7F6F3;
                animation: cursor-animation 1.2s $ease-out-quint infinite;

                @keyframes cursor-animation {
                    0% {
                        left: 100px;
                        transform: rotate(30deg);
                    }

                    100% {
                        left: 40px;
                        transform: rotate(0deg);
                    }
                }
            }

            .box-wrapper {
                width: 150px;
                overflow: hidden;
                height: 80px;
                position: relative;
                margin-left: auto;
                margin-right: auto;
                padding: 0 10px;
                $widthOfBox: 3em;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: none;
                    background: linear-gradient(90deg, $bg-black 0%, transparent 50%, $bg-black 100%);
                    z-index: 2;
                }

                .box-outer {
                    position: relative;
                    animation: box-animation 1.2s $ease-out-quint infinite;

                    @keyframes box-animation {
                        0% {
                            left: 0px;
                        }

                        100% {
                            left: -5em;
                        }
                    }
                }

                .box {
                    position: absolute;
                    width: $widthOfBox;
                    height: 4em;
                    border-radius: 3px;
                    border: 1px solid $default-border;

                    @for $i from 0 through 3 {
                        &:nth-of-type(#{$i}) {
                            left: 4.25em * $i;
                        }
                    }
                }
            }

        }

    }

}
