<div class="game-lobby">
	<div class="header">
		<h1 class="sh-yellow">Paramétrez votre partie</h1>
	</div>

	<div class="content">
		<div class="stepper">
			<div class="step step-1" [ngClass]="{ 'active': activeStep == 1, 'done': activeStep > 1 }"
				(click)="activeStep = 1">
				<div class="step-indicator">1</div>
				<div class="step-label">Paramètres de la partie</div>
			</div>
			<div class="step step-2" [ngClass]="{ 'active': activeStep == 2, 'done': activeStep > 2 }"
				(click)="activeStep = 2">
				<div class="step-indicator">2</div>
				<div class="step-label">Création du personnage</div>
			</div>
			<div class="step step-3" [ngClass]="{ 'active': activeStep == 3, 'done': activeStep > 3 }"
				(click)="activeStep = 3">
				<div class="step-indicator">3</div>
				<div class="step-label">Lobby</div>
			</div>
		</div>

		<sh-card class="card-secondary">
			<div class="lobby-content">
				<div *ngIf="activeStep == 1">
					<h2>Paramètres de la partie</h2>
					<div class="input-container">
						<sh-input-text label="Nombre maximum de joueurs" id="maxPlayers"
							[control]="paramFormMaxPlayers">
						</sh-input-text>
						<sh-input-text label="Interval entre les évènements (en heures)" id="intervalEvent"
							[control]="paramFormIntervalEvent"></sh-input-text>
					</div>
					<sh-button color="primary" (click)="activeStep = 2">Suivant</sh-button>
				</div>
				<div *ngIf="activeStep == 2">
					<h2>Création du personnage</h2>
					<div class="input-row-container">
						<div class="input-container">
							<sh-input-text label="Nom" id="name" [control]="personnageFormName"></sh-input-text>
							<sh-input-text label="Age" id="age" [control]="personnageFormAge"></sh-input-text>
							<sh-input-text label="Genre" id="gender" [control]="personnageFormGender"></sh-input-text>
							<sh-input-text label="Secret" id="secret" [control]="personnageFormSecret"></sh-input-text>
						</div>

						<div class="input-container">
							<sh-input-file label="Avatar du personnage" id="picture" [control]="personnageFormPicture">
							</sh-input-file>
							<sh-input-textarea label="Biographie" id="bio" [control]="personnageFormBio">
							</sh-input-textarea>
						</div>
					</div>
					<sh-button color="primary" (click)="activeStep = 3">Suivant</sh-button>
				</div>
				<div *ngIf="activeStep == 3">
					<h2>Lobby</h2>
				</div>
			</div>
		</sh-card>
	</div>
</div>
