@import "node_modules/ngx-ds-secret-house/assets/styles";

$bg-black: #121212;

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
    background: $bg-black;
	color: $white;
}

.main-content {
	margin: 0 20px;
}

.flex{
	display: flex;
}

.flex-center{
	justify-content: center;
	align-items: center;
}