@import "node_modules/ngx-ds-secret-house/assets/styles";
@import "node_modules/ngx-ds-secret-house/assets/scss/navbar";

$bg-black: #121212;

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
    background: $bg-black;
	color: $white;
}

.main-content {
	margin: 0 20px;
}

.flex{
	display: flex;
}

.flex-center{
	justify-content: center;
	align-items: center;
}

.sidebar {
	width: $sidebarWidth !important;
}

body {
	app-sh {
		#sh-content {
			transition: all .3s;
			margin-left: 50px;
		}
	}

	&.sidebar-opened {
		app-sh {
			#sh-content {
				margin-left: $sidebarWidth;
			}
		}
	}
}
