@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

@import "node_modules/ngx-ds-secret-house/assets/styles";
@import "node_modules/ngx-ds-secret-house/assets/scss/navbar";

@import "~swiper/css";

$bg-black: #121212;

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	background: $bg-black;
	color: $white;
}

.main-content {
	padding: 0 4em;
}

.sidebar {
	min-height: 620px;
	width: $sidebarWidth !important;
}

body {
	app-sh {
		#sh-content {
			transition: all 0.3s;
			margin-left: 50px;
		}
	}

	&.sidebar-opened {
		app-sh {
			#sh-content {
				margin-left: $sidebarWidth;
			}
		}
	}
}

input, textarea {
	color: $black;
}

sh-field-container input:focus,
sh-field-container input:active,
sh-field-container textarea:focus,
sh-field-container textarea:active,
sh-field-container select:focus,
sh-field-container select:active {
	border-width: 1px !important;
}

sh-field-container {
	margin-bottom: 30px;
	display: block;

	input {
		min-height: 36px;
		max-height: 36px;
	}
}

sh-button button .btn__content {
	line-height: 1;
}

sh-card.card-secondary {
	.card {
		background-color: $overlay;
		border-color: $overlay;
	}
}

sh-navbar {
	.sidebar-sections {
		h3 {
			margin-bottom: 0.25rem;
		}
	}
}

h1 {
	color: $yellow;
}

.form {
	sh-input-text {
		margin-bottom: 30px;
		display: block;
	}

	sh-field-container {
		input {
			width: 100%;
		}

		label {
			padding-right: 40px;
		}
	}

	sh-navbar-section {
		margin-bottom: 0.25rem;
	}
}

.sh-yellow {
	color: $yellow;
}

// Style des slides SwiperJs
.swiper-wrapper {
	padding: 10px 25px;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	height: 400px;
	width: 275px;
	min-width: 275px;
}

// Permet d'éviter le surlignage

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
									   supported by Chrome, Edge, Opera and Firefox */
}

// Page buzz

.cards-swiper {
	width: 100%;
	height: 100%;
	cursor: pointer;
	transition: all 0.2s;

	&.cards-loading {
		min-width: 100%;

		.loader {
			background: #000000 no-repeat;
		}
	}

	&.locked {
		cursor: default;
		pointer-events: none;
		margin-left: 0;
		margin-right: 20px;
		width: 320px;
		transform-origin: top left;
		transform: scale(1.2);

		.slide-container {
			cursor: default;
			pointer-events: none;
		}
	}
}

#secret-form {
	.field-group {
		.field-label {
			font-size: 13px;
			color: $yellow;
			text-align: left;
		}

		input {
			box-sizing: content-box;
			width: 90%;
			margin-bottom: 10px;
		}
	}

	sh-button {
		width: 245px;

		.btn {
			width: 100%;

			.btn__content {
				justify-content: center;
			}
		}
	}
}

.game-buzz {
	sh-alert {
		.alert-main {
			margin-top: 25px;
			background-color: $bg-black;

			.alert-title {
				padding-top: 10px;
				line-height: 1.4;
			}

			.alert-text {
				padding-bottom: 10px;
				line-height: 1.4;
			}
		}
	}
}

.game-rooms {
	.room-not-selected {
		sh-button {
			.btn {
				font-size: 20px;
				max-height: none;
			}
		}
	}
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.15);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $brand-primary;

	&:hover {
		background: $brand-primary-light;
	}
}

sh-chat-message {
	.message-content {
		margin: 10px 0;
		color: black;

		&.right {
			float: right;
			/* You can add global styles to this file, and also import other style files */
			.form {
				sh-input-text {
					margin-bottom: 30px;
					display: block;
				}

				sh-field-container {
					label {
						padding-right: 40px;
					}
				}

				.btn {
					margin-top: 10px;
					width: 100%;

					&__content {
						justify-content: center;
					}
				}
			}
		}
	}
}

#contact-page {
	sh-input-text, sh-input-textarea{
		color: black;

		.field-group{
			margin: 25px 0;
		}

		label{
			color: $yellow;
		}
	}

	sh-alert {
		color: black;
	}
}
