<div class="game-residents">
	<div class="header-container">
		<div class="header">
			<h1 class="sh-yellow">Les résidents de la maison</h1>
			<p>Retouvez ici la liste de tous les résidents de la maison ainsi que leurs informations respectives</p>
		</div>
	</div>

	<div class="content">
		<div id="residents-list">
			<sh-list>
				<sh-list-item
					*ngFor="let item of items; let index = index" [item]="item"
					[ngClass]="{'selected' : (index + 1) === selectedResident.id}"
					(click)="selectResident(index + 1)">
				</sh-list-item>
			</sh-list>
		</div>
		<div id="residents-preview" *ngIf="selectedResident">
			<sh-card class="card-secondary">
				<h2 class="leading-none">{{ selectedResident.name }}</h2>
				<div class="resident-details">
					<div class="resident-avatar">
						<div class="resident-avatar__block">
							<img src="./assets/images/players/catherine.png" [alt]="selectedResident.name" />
						</div>
					</div>
					<div class="resident-description">
						<div id="resident-description__bio" class="mb-8">
							<h3 class="resident-description__title mb-3">Biographie</h3>
							<p class="text-sm mb-2">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus turpis eros,
								venenatis eu dapibus sed, feugiat vitae odio. Morbi et faucibus sapien.
							</p>
							<p class="text-sm">
								Cras molestie lacus nulla, ac sollicitudin neque placerat vitae.
								Pellentesque non odio tempor, porttitor sem et, vestibulum enim.
							</p>
						</div>
						<div class="flex align-top mb-8">
							<div id="resident-description__age">
								<h3 class="resident-description__title mb-3">Âge</h3>
								<p class="text-sm">25 ans</p>
							</div>
							<div id="resident-description__gender">
								<h3 class="resident-description__title mb-3">Genre</h3>
								<p class="text-sm">{{ getResidentGenderTranslation(selectedResident.gender ?? '') }}</p>
							</div>
						</div>
						<div id="resident-description__secret" class="mb-8">
							<h3 class="resident-description__title mb-3">Secret</h3>
							<p class="text-sm" [ngClass]="{ 'italic': !selectedResident.secret }">
								{{ selectedResident.secret ? selectedResident.secret : 'Secret non découvert' }}
							</p>
						</div>
					</div>
				</div>
			</sh-card>
		</div>
	</div>
</div>
