<div class="rules">
	<h1>Règles du jeu</h1>

	<hr />
	<h2>Spectateurs</h2>
	<p>Les spectateurs ont accès à toutes les rooms et les fiches personnages, ils ne connaissent pas les secrets et les
		découvrent en même temps que les joueurs. Ce sont les spectateurs qui votent pour éliminer les nominés lors du
		prime
		le vendredi soir. </p>

	<hr />
	<h2>Inscription d’un joueur</h2>
	<p>Lors de l’inscription d’un joueur , sa cagnotte de départ est de 10 000€. En version 2, l’utilisateur peut créer
		un
		nouveau personnage ou modifier son dernier personnage lié à son profil. </p>

	<hr />
	<h2>Début d’une partie </h2>
	<p>Lors du début de la partie, les joueurs sont présentés aux spectateurs via leurs fiches de joueurs avant qu’ils
		aient
		accès aux discussions. Tous les joueurs ont accès à leur confessionnal et aux pièces communes.</p>

	<hr />
	<h2>Buzz</h2>
	<p>Un joueur peut buzzer à tout moment mais cette action lui coûte 5000€. Il désigne une personne (ou un duo, trio,
		etc)
		et donne le secret qu’il pense avoir découvert sur cette cible. A alors lieu une discussion privée entre le
		buzzeur
		et la cible pour répondre à ces accusations, s’il a trouvé le vrai secret ou non, pendant deux minutes. Il doit
		ensuite confirmer son buzz.</p>
	<h3>Il a trouvé le bon secret </h3>
	<p>La cible perd toute sa cagnotte qui revient au buzzeur. Le secret est dévoilé à tout le monde, la cible devient
		non-buzzable. </p>
	<h3>Il a presque trouvé le bon secret </h3>
	<p>Si la cible dévoile que le buzzeur a presque trouvé son secret mais qu’il n’a pas l’intitulé exact, le buzzeur
		remporte la moitié de la cagnotte de la cible. Le guess est dévoilé publiquement. La cible reste buzzable.</p>
	<h3>Il s’est trompé</h3>
	<p>Les 5000€ mis en jeu sont distribués dans les cagnottes des cibles. Le guess est dévoilé publiquement. La cible
		reste
		buzzable.</p>

	<hr />
	<h2>Nomination</h2>
	<p>L’évènement de nomination a lieu le mardi, les joueurs votent pour les personnes qu’ils veulent voir aux
		éliminations
		donc des joueurs qu’ils veulent sortir du jeu. Ce vote est réservé aux joueurs uniquement et tous doivent voter.
	</p>

	<hr />
	<h2>Prime</h2>
	<p>Le prime a lieu le vendredi soir généralement et est découpé en trois parties : </p>
	<h3>Les pépites de la semaine</h3>
	<h3>L’élimination</h3>
	<p>L’élimination est un nouveau vote qui propose comme choix les nominés aux spectateurs du jeu et non aux joueurs.
	</p>
	<p>Une fois l’éliminé défini, le présentateur entame un débriefing avec le nouvel éliminé dans la room “Prime” qui
		est
		uniquement visible par le public. Une annonce de la voix donne tout de même le secret de la personne éliminée
		aux
		joueurs.</p>
	<p>Le joueur éliminé est passé en spectateur.</p>
</div>
